<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
		<link href="https://unpkg.com/normalize.css@5.0.0" rel="stylesheet">
		<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Unica+One:400,700|Vollkorn' rel='stylesheet' type='text/css'>
    <link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<style>
			{{{css}}}
		</style>
	</head>

	<body>
		<div class="max-width-4 mx-auto mb2">
			{{#resume.basics}}
				<header class="header mt2">
					<div class="flex justify-between items-center mb2">
						<div class="flex justify-center items-center">
							<img class="circle mr2" style="max-height: 100px;" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAg0AAAAJDg0OWRjOWFmLWU5NjEtNDU4OC05MzYzLWU4MzgyYjBmMTBhNA.jpg" alt="Image of Mendel Kramer">
							<div>
								<h1 class="uppercase my0 red font-family-secondary">{{name}}</h1>
								<h3 class= "label my0 uppercase font-family-secondary muted">{{label}}</h3>
							</div>
						</div>
						<div class="right-align">
							<p>
								{{location.city}}, {{location.region}}<br>
								<a href= "mailto:{{email}}" target= "_blank">{{email}}</a><br>
								<a href= "tel:{{phone}}" target= "_blank">{{phone}}</a>
							</p>
							<p>
								{{#each profiles}}
									<a href="{{url}}">
										<i class="fa fa-{{spaceToDash network}} fa-lg"></i>
									</a> &nbsp;
								{{/each}}
							</p>
						</div>
					</div>
					<div>{{paragraphSplit summary}}</div>
				</header>
			{{/resume.basics}}
			<div class="clearfix mxn2">
				<div class="col col-8 px2">
					<section>
						<header>
							<h2 class='font-family-secondary uppercase red'>Work Experience <sup><i class="fa fa-wrench"></i></sup></h2>
						</header>
						{{#each resume.work}}
							<section class="avoid-break-inside">
								<header class="mb2">
									<h3 class="font-family-secondary uppercase inline h2">{{company}}</h3> <h4 class="muted inline regular">{{position}}</h4>
									<div class="font-family-secondary uppercase">
										{{#if startDate}}
											{{MY startDate}}
										{{/if}}
										{{#if endDate}}
											- {{MY endDate}}
										{{else}}
											- Current
										{{/if}}
									</div>
								</header>
								<div>{{paragraphSplit summary}}</div>
								{{#if highlights.length}}
									<ul class="highlights">
										{{#each highlights}}
											<li>{{.}}</li>
										{{/each}}
									</ul>
								{{/if}}
							</section>
						{{/each}}
					</section>
				</div>
				<div class="col col-4 px2">
					<section>
						<header>
							<h2 class='font-family-secondary uppercase red'>Skills <sup><i class="fa fa fa-star"></i></sup></h2>
						</header>
						{{#each resume.skills}}
							<section class="avoid-break-inside">
								<header class="mb1">
									<h3 class="font-family-secondary uppercase mb0 inline">{{name}}</h3> <span class="font-size-sm red level {{toLowerCase level}}"><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i><i class="fa fa fa-star"></i></span>
								</header>
								<div class="clearfix mb2">
									{{#each keywords}}
										<div class="tag">{{.}}</div>
									{{/each}}									
								</div>
							</section>
						{{/each}}
					</section>
					<section>
						<header>
							<h2 class='font-family-secondary uppercase red'>Education <sup><i class="fa fa fa-graduation-cap"></i></sup></h2>
						</header>
						{{#each resume.education}}
							<section class="avoid-break-inside">
								<header class="mb2">
									<h3 class="font-family-secondary uppercase inline h2">{{institution}}</h3> <h4 class="muted inline regular nowrap">{{area}}</h4>
									<div class="font-family-secondary uppercase">
										{{#if startDate}}
											{{MY startDate}}
										{{/if}}
										{{#if endDate}}
											- {{MY endDate}}
										{{else}}
											- Current
										{{/if}}
									</div>
								</header>
							</section>
						{{/each}}
					</section>
					<section>
						<header>
							<h2 class='font-family-secondary uppercase red'>Volunteer Service <sup><i class="fa fa fa-heart"></i></sup></h2>
						</header>
						{{#each resume.volunteer}}
							<section class="avoid-break-inside">
								<header class="mb2">
									<h3 class="font-family-secondary uppercase inline h2">{{organization}}</h3> <h4 class="muted inline regular">{{position}}</h4>
									<div class="font-family-secondary uppercase">
										{{#if startDate}}
											{{MY startDate}}
										{{/if}}
										{{#if endDate}}
											- {{MY endDate}}
										{{else}}
											- Current
										{{/if}}
									</div>
								</header>
								<div>{{paragraphSplit summary}}</div>								
							</section>
						{{/each}}
					</section>
				</div>
			</div>
		</div>
	</body>

</html>
