.uppercase { text-transform: uppercase; }
.red { color: #c31; }
.muted { color: #aaa; }
.font-family-secondary { font-family: 'Unica One' }
.font-size-sm { font-size: .85rem; }
.no-wrap { white-space: nowrap; }

body {
    font-family: Vollkorn;
    color: #333333;				
}

p { margin-top: 0; }

a {
    color: #42859F;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.avoid-break-inside { page-break-inside: avoid; }

.level.advanced i:nth-child(n+5) { display: none; }
.level.intermediate i:nth-child(n+4) { display: none; }

.tag {
    float: left;
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
    margin-right: 4px; 
    margin-bottom: 4px;
    text-transform: lowercase;
    font-family: monospace;
}